typing-extensions==4.14.0

# Latest cattrs version that still supports Python 3.9
# See PR: https://github.com/python-attrs/cattrs/pull/698
cattrs==25.3.0
attrs==25.4.0
stix2
stix2-patterns
splunktaucclib
splunk-sdk
solnlib
taxii2-client
pytz
remote-pdb
